<?xml version="1.0"?>
<launch>
  <!-- Launch file to view a Husky in the odom frame and control it using interactive markers -->
  <node pkg="interactive_marker_twist_server" type="marker_server" name="twist_marker_server" output="screen"/>
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find husky_viz)/rviz/robot.rviz" output="screen"/>
</launch>
